---
import Layout from '../layouts/Layout.astro';
---
<script>
	import Main from './../scripts/Main.js'
	new Main()
</script>
<Layout title="Welcome to Astro.">
	<main>
		
		<a href="#" class="trigger">click on this button</a>
		<div id="loadContent"></div>
	</main>
</Layout>
<style>
	#loadContent,.trigger{color:white}
</style>

